.header__logo {
  width: 142px;
  height: 33px;
}

@media (max-width: 692px) {
  .header__logo {
    width: 103px;
    height: 24px;
  }
}

@media (max-width: 510px) {
  .header__logo {
    margin: 0 27px 28px;
    flex-direction: column-reverse;
  }
}
