.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  column-gap: 18px;
  row-gap: 10px;
  max-width: 400px;
}

@media (max-width: 768px) {
  .profile__info {
    column-gap: 12px;
    margin: 29px 0 33px 33px;
    justify-content: center;
  }
}
