.burger-menu {
  cursor: pointer;
  margin: -20px 14px 0 0;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 510px) {
  .burger-menu {
    display: none;
  }
}
