.header__auth {
  display: flex;
  align-items: center;
}

@media (max-width: 510px) {
  .header__auth {
    margin: 0 0 27px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #545454;
  }
}
