.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 39.25px auto 0;
  max-width: 922px;
  padding: 0 19px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}
