.auth__title {
  margin: 0 0 50px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

@media (max-width: 692px) {
  .auth__title {
    margin: 0 0 39px 0;
    font-size: 20px;
    line-height: 24px;
  }
}
