.auth__link {
  margin: 14px 0;
  color: white;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.auth__link:hover {
  opacity: 0.6;
}
