.card__image {
  display: block;
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.card__image:hover {
  transform: scale(1.3);
}
