.card__like {
  width: 21px;
  height: 18px;
  padding: 0;
  border: none;
  background-image: url("../../../images/card-images/card-like.svg");
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: opacity .3s ease-in-out;
  background-repeat: no-repeat;
}

.card__like:hover {
  opacity: .5;
}

 