.header__login {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header__login:hover {
  opacity: 0.6;
}

@media (max-width: 692px) {
  .header__login {
    font-size: 14px;
    line-height: 17px;
  }
}
