.popup__container {
  padding: 34px 36px 37px;
  width: 430px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  cursor: default;
}

@media (max-width: 550px) {
  .popup__container {
    width: 240px;
    padding: 30px 20px;
  }
}
