.btn_type_close {
  width: 56.56px;
  height: 56.56px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../../../images/popup-closeIcon.svg");
  position: absolute;
  top: -48px;
  right: -48px;
}

@media (max-width: 550px) {
  .btn_type_close {
    top: -38px;
    right: -38px;
    width: 42.43px;
    height: 42.43px;
  }
}
