.btn_type_edit {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-image: url('../../../images/btn-pencil.svg');
}

@media (max-width: 650px) {
  .btn_type_edit {
    margin-left: 12px;
    width: 18px;
    height: 18px;
}}