.btn_type_auth {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 692px) {
  .btn_type_auth {
    font-size: 16px;
    line-height: 19px;
  }
}
