.btn_type_edit {
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-image: url('../../../images/btn-pencil.svg');
}

@media (max-width: 650px) {
  .btn_type_edit {
    width: 18px;
    height: 18px;
  }
}
