.auth__input {
  margin-bottom: 30px;
  padding-bottom: 8px;
  min-width: 358px;
  background-color: transparent;
  border-bottom: 2px solid #cccccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
