.profile__about-me {
  display: block;
  margin: 0;
  max-width: 250px;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__about-me {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
