.header {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 0;
  max-width: 922px;
  padding: 0 19px 41px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media (max-width: 692px) {
  .header {
    margin-top: 28px;
  }
}

@media (max-width: 510px) {
  .header {
    padding: 0 0 4px 0;
    /* margin-top: 40px; */
    margin-top: -102px;
    flex-direction: column-reverse;
  }
}
