.load-wraper__activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgba(251, 251, 251, 0.02),
    rgba(251, 251, 251, 0.15),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.15),
    rgba(251, 251, 251, 0.02)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.02),
    rgba(251, 251, 251, 0.15),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.15),
    rgba(251, 251, 251, 0.02)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.02),
    rgba(251, 251, 251, 0.15),
    rgba(251, 251, 251, 0.3),
    rgba(251, 251, 251, 0.15),
    rgba(251, 251, 251, 0.02)
  );
  animation: loading 1s infinite;
  z-index: 45;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
